h1{
  text-align: left;
}


.QN1 {
  display: flex;
  margin-left: 10px;
  column-gap: 10px;
}

.QN2{
  display: flex;
  margin-left: 10px;
  column-gap: 10px;
}

#question1{
  width: 500px;
  font-size: 1em;
  font-family: Verdana;
}

h3{
  width: 270px;
  font-size: 0.5em;
  font-family: Verdana;
}

#calculator-form{
  font-size: 0.5em;
  font-family: verdana;
  text-align: left;
}

#calculator-form2{
  font-size: 0.5em;
  font-family: verdana;
  text-align: left;
}

button{
  font-size: 1em;
  color: rgb(0, 0, 0);
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s;
}

#results{
  font-size: 0.5em;
  font-family: verdana;
  width: 200px;
}

#results2{
  font-size: 0.5em;
  font-family: verdana;
  width: 200px;
}

#donation{
  margin-left: 200px;
}

#catstudy{
  margin-left: 200px;
}