body {
  background-image: url(web-network-technology-developer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h1{
  text-align: left;
  color: aliceblue;
}

.QN1 {
  display: flex;
  margin-left: 10px;
  column-gap: 10px;
  color: aliceblue;
}

.QN2{
  display: flex;
  margin-left: 10px;
  column-gap: 10px;
  color: aliceblue;
}

#question1{
  width: 500px;
  color: aliceblue;
  font-size: 2em;
  font-family: Verdana;
}

h3{
  width: 270px;
  font-size: 0.5em;
  font-family: Verdana;
}

#calculator-form{
  font-size: 1em;
  font-family: verdana;
  text-align: left;
}

#calculator-form2{
  font-size: 1em;
  font-family: verdana;
  text-align: left;
}

button{
  font-size: 0.5em;
  color: rgb(0, 0, 0);
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s;
}

#results{
  font-size: 1em;
  font-family: verdana;
  width: 200px;
  color: aliceblue;
}

#results2{
  font-size: 1em;
  font-family: verdana;
  width: 200px;
  color: aliceblue;
}
/* 
#donation{
  margin-left: 0;
} */

#catstudy{
  margin-left: 100px;
}